body {
    font-family: 'Lato', sans-serif;
}

section {
    position: relative;
}

header.page-header {
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9999999;
    top: 0;
    transition: background-color 0.5s ease;
    background-color: transparent;
}

header.page-header .mobile-menu-close, header.page-header .mobile-menu-logo {
    display: none;
}

header.page-header .menu-tc-logo {
    max-height: 40px;
    padding-right: 10px;
}

header.page-header .sticky-hide {
    display: block;
}

header.page-header .sticky-show {
    display: none;
}

header.sticky .sticky-hide {
    display: none;
}

header.sticky .sticky-show {
    display: block;
}

header.page-header .mobile-open-hide {
    display: block;
}
header.page-header .mobile-open-show {
    display: none;
}

header.mobile-open .mobile-open-hide {
    display: none;
}
header.mobile-open .mobile-open-show {
    display: block;
}

header.sticky {
    position: fixed;
    background: #FFFFFF;
}

header.page-header a.nav-link {
    color: #FFFFFF;
    padding: 7px 20px !important;
    font-weight: bold;
    font-size: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.34);
}

header.sticky a.nav-link {
    color: #354650;
    border-right: 1px solid rgba(0, 0, 0, 0.34);
}

header.mobile-open {
    text-align: center;
    background: #FFFFFF;
}

header.page-header li:nth-last-child(2) a {
    border-right: none;
}

header.page-header a.btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 7px 25px !important;
    border: 1px solid #FFFFFF;
}

header.sticky a.btn {
    color: #FFFFFF;
    background-color: #54D0FF;
    border-color: #54D0FF;
}


header.mobile-open a.nav-link {
    color: #354650;
    font-size: 24px !important;
    font-weight: normal;
    border: none;
    padding: 15px 0 !important;
}

header.mobile-open {

}

header.mobile-open a.btn {
    width: 250px;
    margin: 0 auto;
    padding: 14px !important;
    color: #FFFFFF;
    background-color: #54D0FF;
    border-color: #54D0FF;
}

section.banner {
    background: url('../img/AdobeStock_81780621.png') center no-repeat;
    max-height: 100vh;
    background-size: cover;
    position: relative;
    height: 750px;
    color: #FFFFFF;
}

section.banner .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../img/blackout.png');
    background-size: cover;
}

section.banner h1 {
    font-weight: bold;
    font-size: 48px;
    padding-top: 4rem;
}

section.banner p {
    font-size: 24px;
}

section.banner .round-edge, section.map .round-edge {
    position: absolute;
    bottom: -1px;
    z-index: 2;
    width: 100%;
}

input.input-tc-white {
    color: #354650;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    cursor: text !important;
}

input.input-tc-white::placeholder {
    color: #96A2A9;
}

.btn-tc-blue {
    color: #FFFFFF;
    background-color: #54D0FF;
    border-color: #54D0FF;
}

section.banner .btn {
    font-size: 36px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 1rem 0;
}

section.services, section.how-it-works {
    color: #354650;
    padding-top: 2rem;
    padding-bottom: 40px;
}

section.services h2, section.how-it-works h2, section.services-list h2{
    font-size: 48px;
    font-weight: bold;
}

section.services p.description {
    font-size: 18px;
}

section.services h4 {
    font-size: 36px;
}

section.services img {
    height: 7em;
}

section.how-it-works img {
    height: 310px;
}

section.how-it-works .step-row {
    text-align: center;
    margin: 50px 0;
}

section.how-it-works h4 {
    color: #54D0FF;
    font-weight: bold;
    font-size: 24px;
}

section.how-it-works p.description {
    color: #354650;
    font-size: 30px;
    padding: 15px 50px 0 50px;
}

section.map {
    background: url('../img/AdobeStock_84442477@1x.png') no-repeat;
    max-height: 100vh;
    background-size: cover;
    position: relative;
    height: 750px;
    color: #FFFFFF;
}

section.map .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../img/Blackout.svg');
    background-size: cover;
}

section.map .container {
    padding: 75px 0;
    text-align: center;
}


section.map h2 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 10px;
}

section.map .btn {
    font-size: 36px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 1rem 0;
}

section.services-list h4 {
    margin: 20px 0;
    font-size: 24px;
}

section.services-list {
    padding-bottom: 40px;
}

section.services-list p {
    font-size: 18px;
    padding: 0 30px;
}

section.pre-footer {
    background: url('../img/Group 24@1x.png') #00AFF1;
    position: relative;
    color: #FFFFFF;
    padding: 75px 0;
}

section.pre-footer h2 {
    font-weight: bold;
    font-size: 48px;
    padding: 20px 0;
}

section.pre-footer .btn {
    font-size: 36px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 1rem 0;
}

footer {
    background-color: #1B1F26;
    color: #FFFFFF;
    font-size: 14px;
    padding: 50px 0;
}

footer li, footer a {
    color: rgba(255, 255, 255, 0.30) !important;
    text-decoration: none !important;
}

footer li {
    list-style: none;
    line-height: 30px;
}

footer .list-title {
    line-height: 24px;
}

.learn-more {
    position: absolute;
    bottom: 10px;
    z-index: 200;
    color: #FFF;
    width: 100%;
    font-size: 14px;
}

.learn-more span.clickable {
    cursor: pointer;
}

.learn-more img {
    height: auto !important;
}

.learn-more .gray {
    color: #728B9B;
}

.navbar-collapse.show  nav.navbar {
    background: #FFFFFF;
}

/*Mobile view header text sizes*/
@media (max-width: 767.98px) {
    section.banner h1, section.services h2, section.how-it-works h2, section.services-list h2, section.map h2, section.pre-footer h2 {
        font-size: 36px;
    }

    section.banner .btn, section.map .btn, section.pre-footer .btn {
        font-size: 24px;
        padding: 10px;
    }

    section.banner {
        height: auto;
        padding-bottom: 45px;
    }
}

@media (max-width: 1009.98px) {
    header.page-header a.nav-link {
        font-size: 16px;
    }
}
